ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="0666"
DRIVERS=="ftdi_sio", SUBSYSTEMS=="usb", ATTRS{interface}=="FT232R USB UART", ATTRS{bInterfaceNumber}=="00", MODE:="0666", SYMLINK+="lst_uart1", OPTIONS+="last_rule", TAG+="systemd", ENV{SYSTEMD_WANTS}="radio@1"
